{% extends 'base.html' %}

{% block contect %}

<div class="row pt-3">
    <div class="col-2">
        <img src="{{ product.icon.url }}" class="img-fluid"/>
    </div>
    <div class="col-10">
        <a href="{{ product.url }}" target="_blank"><h2>{{ product.title }}</h2></a> 
    </div>
</div>

<div class="row pt-4">
    <div class="col-8">
        <img src="{{ product.image.url }}" class="img-fluid"/>
    </div>
    <div class="col-4">
        <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-chevron-top"></span> Vote ({{ product.votesTotal }})</button></a>
    </div>
</div>

<div class="row pt-1">
    <div class="col-4">
        <h4><span class="oi oi-person"></span> Hunted by {{ product.hunter }}</h4>
    </div>
    <div class="col-4">
        <h4 class="text-right"><span class="oi oi-clock"></span> {{ product.pubDatePretty }}</h4>
    </div>
</div>

<div class="row pt-3">
    <div class="col-8">
        <p class="text-justify"> {{ product.body }} </p>
    </div>
</div>

<form id="upvote" method="POST" action="{% url 'upvote' product.id %}">
    <input type="hidden">
</form>


{% endblock %}