{% extends 'base.html' %}

{% block contect %}

    

    <br />
    <div class="container">
        <h1>Sign Up</h1>
        {% if error %}
            <h5 style="color: red; padding: .5rem 0rem;">{{ error }}</h5>
        {% endif %}
        <form method="POST" action="{% url 'signup' %}">
            
            
            <input placeholder="Username" type="text" name="username">
            <br /><br />
            <input placeholder="Password" type="password" name="password1">
            <br /><br />
            <input placeholder="Re-type Password" type="password" name="password2">
            <br />
            <br />
            <input class="btn btn-dark" type="submit">
        </form>
    </div>
{% endblock %}